<div class="bc-egg__stage">
  <span class="bc-egg__spark bc-egg__spark--a"></span>
  <span class="bc-egg__spark bc-egg__spark--b"></span>
  <span class="bc-egg__spark bc-egg__spark--c"></span>
  <span class="bc-egg__spark bc-egg__spark--d"></span>
  <svg class="bc-egg__shape" viewBox="0 0 40 52" focusable="false" aria-hidden="true">
    <g class="bc-egg__top">
      <path d="M20 1 C11 1 5 17 5 28 L35 28 C35 17 29 1 20 1 Z" />
    </g>
    <g class="bc-egg__bottom">
      <path d="M5 28 C5 43 12 51 20 51 C28 51 35 43 35 28 Z" />
    </g>
    <polyline
      class="bc-egg__crack"
      points="5,28 12,23 17,30 23,23 28,30 35,28"
      fill="none"
    />
  </svg>
  <span class="bc-egg__shadow"></span>
</div>
